<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head') %> 

</head>
<header>
<%- include('../../layout/header') %> 
</header>

<body>
    <form action="/movies" method="POST">
        <fieldset>
            <label>
          <input type="search" name="input" placeholder="Enter the movie's name" />
        </label>
            <!-- <div class='option'><input type="radio" id="title" name="search" value="title"> search by title </input>
            </div>
            <div class='option'> <input type="radio" id="author" name="search" value="author"> search by author </input>
            </div> -->
            <button>Search</button>
        </fieldset>
    </form>
</body>

</html>