<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head') %>
        <link rel="stylesheet" href="../../styles/movies.css">
        <link href="https://fonts.googleapis.com/css?family=Courier+Prime&display=swap" rel="stylesheet">

</head>
<header>
    <%- include('../../layout/header') %>
</header>

<body>

    <form action="/movies" method="POST">
        <!-- <i class="fab fa-searchengin"></i> -->
        <fieldset>
            <label>
          <input type="text" name="input" placeholder="Look up a movie.." />
        </label>

        </fieldset>
    </form>
</body>

</html>