<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layout/head') %> 
     <link rel="stylesheet" href="styles/homeStyles.css">
</head>

<body>
 
<header>
    <%- include('layout/header') %> 

</header>
<main>
    <section class="container">
    <% favChar.forEach( element => { %>
     
        <div class="panel">
            <img src=<%= element.thumbnail.path%>/portrait_xlarge.jpg>
            <p class="text bottom-right"><%= element.name %></p>
          </div>
               
        <% }); %>
    </section>
        
</main>
<footer></footer>





</body>




</html>