<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/a20d671700.js" crossorigin="anonymous"></script>

    <%- include('layout/head') %> 

     <link rel="stylesheet" href="styles/homeStyles.css">
     <link href="https://fonts.googleapis.com/css?family=Courier+Prime&display=swap" rel="stylesheet">
     
</head>
<body>
<header>
    <div id="header">
       <p id="header-text"> Marvelation </p> 
       
    </div>

    <%- include('layout/header') %> 
</header>
<main>
<span> Characters to know... </span>

    <section class="container">
    <% favChar.forEach( element => { %>
         <div class="panel">
        <img src=<%= element.thumbnail%>>
        <p class="text bottom-right"><%= element.char_name %> </p>
    </div>
    <% }); %>
</main>
<footer>
</footer>
</body>
</html>