<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/a20d671700.js" crossorigin="anonymous"></script>

    <%- include('../layout/head') %>
    <link rel="stylesheet" href="styles/aboutus.css">
</head>

<body>
    <header>
        <%- include('../layout/header') %>
    </header>

    <main>
        <div class="maincontainer">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/anolla.jpg" alt="front">
                    </div>
                    <div class="flip-card-back">
                        <img src="/images/anolla2.jpeg" alt="back">
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/sahar2.jpg" alt="front">
                    </div>
                    <div class="flip-card-back">
                        <img src="/images/sahar3.jpeg" alt="back">
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/amer2.webp" alt="front">
                    </div>
                    <div class="flip-card-back">
                        <img src="/images/amer2.jpeg" alt="back">
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/me.jpg" alt="front">
                    </div>
                    <div class="flip-card-back">
                        <img src="/images/me2.jpeg" alt="back">
                    </div>
                </div>
            </div>
        </div>

    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
    <script>
        $('.flip-card').click(function () {
            $(this).toggleClass('focus');
        });
    </script>
</body>

</html>