<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %>
    <link rel="stylesheet" href="styles/aboutus.css">
</head>

<body>
    <header>
        <%- include('../layout/header') %>
    </header>

    <main>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="https://via.placeholder.com/" alt="front">
                </div>
                <div class="flip-card-back">
                    <img src="https://via.placeholder.com/" alt="back">
                </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="https://via.placeholder.com/" alt="front">
                </div>
                <div class="flip-card-back">
                    <img src="https://via.placeholder.com/" alt="back">
                </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="https://via.placeholder.com/" alt="front">
                </div>
                <div class="flip-card-back">
                    <img src="https://via.placeholder.com/" alt="back">
                </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="https://via.placeholder.com/" alt="front">
                </div>
                <div class="flip-card-back">
                    <img src="https://via.placeholder.com/" alt="back">
                </div>
            </div>
        </div>
      
    </main>

</body>

</html>