    body {
        background-color: rgb(0, 0, 0);
        font-family: 'Courier Prime', monospace;
    }
    
    

    .card-effect {
        display: flex;
        justify-content: center;
        /* flex-direction: column;
        align-items: center; */
        padding: 10px;
        flex-wrap: wrap;
    }
    
    .card {
        background-color: transparent;
        width: 25%;
        height: 630px;
        /* border: 1px solid #f1f1f1; */
        perspective: 1000px;
    }
    
    section {
        position: relative;
        width: 100%;
        text-align: center;
        transition: transform 0.5s;
        transform-style: preserve-3d;
        cursor: pointer;
    }
    
    .card.focus section {
        transform: rotateY(180deg);
    }
    
    .front-side,
    .back-side {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    .front-side {
        color: bisque;
    }
    
    .back-side {
        background-color: rgb(58, 44, 44);
        color: gainsboro;
        transform: rotateY(180deg);
    }
    
    img {
        width: 85%;
        height: 420px;
    }
    
    p,
    h3 {
        margin: 15px;
    }
    
    #para {
        background-color: gray;
        padding: 28px 20px;
        overflow: auto;
        height: 420px;
    }
    /*     
    @media all and (max-width:400px) {
        .card-effect {
            display: none;
        }
    } */
    
    input[type=text] {
        width: 20rem;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('./searchIcon.png');
        background-position: 5px 5px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        transition: width 0.4s ease-in-out;
    }
    
    input[type=text]:focus {
        width: 100%;
    }
    
    form {
        margin: 110px;
    }

    #deadpool{

        width: 350px;
        height: 350px;
        margin-left: 21%;
        margin-top: -119px;

    }

    #bubble {
        margin-left: 5rem;
        background-image: url(https://cdn.pixabay.com/photo/2013/07/12/19/02/bubble-154255_960_720.png);
        /* color: white; */
        /* background-position: 200px 200px; */
        height: 250px;
        width: 250px;
        background-size: contain;
        background-repeat: no-repeat;
        text-align: center;
        padding-top: 39px;
        margin-left: 30%;
    }
    #header {
        background: url(../../images/Marvel-Vs.-DC.jpg);
        text-align: center;
        height: 200px;
        background-size: cover;
        background-position: center;
    }
    
    #header-text {
      padding: 47px;
      font-size: -webkit-xxx-large;
      font-family: "Bangers";
      margin: 0 0 -1em 0;
      text-shadow: -1px -1px yellow, 1px 1px orange, 2px 2px orange;
      -webkit-transform: rotate(-10deg) skew(-10deg, 0);
      -moz-transform: rotate(-10deg) skew(-10deg, 0);
      -ms-transform: rotate(-10deg) skew(-10deg, 0);
      -o-transform: rotate(-10deg) skew(-10deg, 0);
      transform: rotate(-10deg) skew(-10deg, 0);
      padding-bottom: 44px;
      /* float: left; */
      font-weight: 900;
      width: 100%;
    }

    #imageContainer{
        margin-top: 0px;
    }
    